*, *:before, *:after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  overflow: hidden;
}

.tinder {
  height: 72vh;
  overflow: hidden;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  /* position: relative; */
  opacity: 0;
  -webkit-transition: opacity 0.1s ease-in-out;
  transition: opacity 0.1s ease-in-out;
}

.loaded.tinder {
  opacity: 1;
}

.tinder--status {
  position: absolute;
  top: 50%;
  margin-top: -30px;
  z-index: 2;
  width: 100%;
  text-align: center;
  pointer-events: none;
}

.tinder--status i {
  font-size: 100px;
  opacity: 0;
  -webkit-transform: scale(0.3);
          transform: scale(0.3);
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  position: absolute;
  width: 100px;
  margin-left: -50px;
}

.tinder_love .fa-heart {
  opacity: 0.7;
  -webkit-transform: scale(1);
          transform: scale(1);
}

.tinder_nope .fa-remove {
  opacity: 0.7;
  -webkit-transform: scale(1);
          transform: scale(1);
}

.tinder--cards {
  -webkit-box-flex: 1;
          flex-grow: 1;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
          justify-content: center;
  -webkit-box-align: end;
          /* align-items: flex-end; */
  z-index: 1;
}

.tinder--card {
  display: inline-block;
  /* width: 90vw; */
  /* height: 70vh; */
  background: #FFFFFF;
  /* padding-bottom: 40px; */
  border-radius: 8px;
  overflow: hidden;
  position: absolute;
  will-change: transform;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  cursor: -webkit-grab;
  cursor: grab;
}

.moving.tinder--card {
  -webkit-transition: none;
  transition: none;
  cursor: -webkit-grabbing;
  cursor: grabbing;
}

.tinder--card img {
  max-width: 100%;
  pointer-events: none;
  
  margin: 0;
    width: 100%;
    height: 42vh;
    background-position: 50%;
    background-size: cover;
    background-color: #ccc;

}

.tinder--card h3 {
  margin-top: 32px;
  pointer-events: none;

    margin: 13px 3% 10px;
    font-size: 2rem;
    color: #161616;
    opacity: .9;
    line-height: 2.3rem;
}

.tinder--card p {
  margin-top: 24px;
  pointer-events: none;
  margin-top: 7px;
  width: 90%;
    margin: 0 3%;
    line-height: 2.35rem;
    font-size: 1.5rem;
    color: #585858;
    font-family: -apple-system, BlinkMacSystemFont, 'Rubik', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 300;
    opacity: .8;
}

.xyz {
  font-size: 1.5rem;
    color: #c7c7c7;
    margin: 13px 3% 10px;
    font-weight: 400;
}


.div-wrapper {
  position: relative;
  height: 300px;
  width: auto;
}

.div-wrapper img {
  position: absolute;
  left: 0;
  bottom: 0;
}

.tinder--buttons {
  -webkit-box-flex: 0;
          flex: 0 0 100px;
  text-align: center;
  padding-top: 20px;
}

.tinder--buttons button {
  border-radius: 50%;
  line-height: 60px;
  width: 60px;
  border: 0;
  background: #FFFFFF;
  display: inline-block;
  margin: 0 8px;
}

.tinder--buttons button:focus {
  outline: 0;
}

.tinder--buttons i {
  font-size: 32px;
  vertical-align: middle;
}

.fa-heart {
  color: #FFACE4;
}

.fa-remove {
  color: #CDD6DD;
}